----------------------------------
table.type1, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

table.type1 th {
  width: 30%;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background: #3f3f3f;
  color: #ffffff;
}
table.type1 td {
  width: 70%;
  padding: 10px;
  vertical-align: top;
}
----------------------------------
h2 {
  position: relative;
  padding: 6px;
  background-image: -webkit-linear-gradient(315deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
}

h2 span {
  display: block;
  padding: 1rem 2rem;
  background: #fff;
}
----------------------------------
html{
  scroll-behavior: smooth;
}