{% extends "register/base_web.html" %}
{% load static %}
<!-- 食生活（215行目）：14　栄養（248行目）：10　運動（274行目）：3　その他（293行目）：8 -->
{% block header %}
  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/media-queries.' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.lite.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.lite.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.min.css' %}">

  <!-- Script
  ================================================== -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/waypoints.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.fittext.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/magnific-popup.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>
  <script>
    jQuery(function ($) {

    $('.js-accordion-title').on('click', function () {
      /*クリックでコンテンツを開閉*/
      $(this).next().slideToggle(200);
      /*矢印の向きを変更*/
      $(this).toggleClass('open');
    });

    });
  </script>
   <!-- Favicons
   ================================================== -->
   <link rel="shortcut icon" href="{% static 'favicon.png' %}" >
{% endblock %}


{% block content %}

   <!-- Header
   ================================================== -->
<header id="home" style="height: 300px;">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark indigo">
    <a class="navbar-brand" href="#"><strong>{{ name }} 様　/　検体ID：{{ id }}</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
        <li class="nav-item" style="margin-right:1em;margin-left:1em;"><a class="smoothscroll" href="#test">遺伝子検査結果</a></li>
        <li class="nav-item" style="margin-right:1em;margin-left:1em;"><a class="smoothscroll" href="#body">なりやすい体型</a></li>
        <li class="nav-item" style="margin-right:1em;margin-left:1em;"><a class="smoothscroll" href="#point1">追い込みのポイント</a></li>
        <li class="nav-item" style="margin-right:1em;margin-left:1em;"><a class="smoothscroll" href="#point2">逞しい体型を目指す場合</a></li>
        <li class="nav-item" style="margin-right:1em;margin-left:1em;"><a class="smoothscroll" href="#point3">引き締まった体型を目指す場合</a></li>
        <li class="nav-item" style="margin-right:1em;margin-left:1em;"><a class="smoothscroll" href="#sports">おすすめスポーツ</a></li>
        <li class="nav-item" style="margin-right:1em;margin-left:1em;"><a class="smoothscroll" href="#adbook">コラム</a></li>
        <li class="nav-item" style="margin-right:1em;margin-left:1em;"><a href="{% url 'logetapp:top' %}">他の検査結果を見る</a></li>
      {% endif %}
      </ul>
    </div>
  </nav>
  <div class="row banner">
     <div class="banner-text">
        <img class="pc" src="{% static 'images/logo_muscle_top.png' %}">
        <img class="sp" src="{% static 'images/logo_muscle_top_sp.png' %}">
     </div>
  </div>
</header>

   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- 結果
      ----------------------------------------------- -->
      <div id="test"><br></div>
      <div class="row education">
         <div class="three columns header-col"><h1><span>遺伝子検査結果</span></h1></div>
         <div class="nine columns main-col">
            <div class="row item">
               <div class="twelve columns">
                  <h3>遺伝的筋肉バランス</h3>
<p><center><img class="sp" src="{% static 'images/rr.png' %}"><img class="pc" src="{% static 'images/rr_pc.png' %}"></center></p>
<h3>遺伝的体質総合コメント</h3>
<p>あなたは、速筋が優位に働きやすい遺伝的体質です。<br>他のタイプの方と同じトレーニングメニューを行ったとしても、速筋を鍛えやすいと考えられています。<br>その結果、筋肥大し、ムキムキとした逞しい体型になりやすいと言えます。<br>高強度の筋肉トレーニングにも強く、十分に追い込むトレーニングを行うことも可能です。<br>しかし、あまりムキムキとした体型にしたくない場合は注意が必要です。<br>筋肉トレーニングによる筋力の伸び率は他のタイプよりも低いと報告されており、筋肉をつけたい場合には十分なトレーニングが必要となります。<br>速く、強く収縮する際に筋肉が安定しやすく、瞬発系のスポーツに有利な遺伝的体質です。</p>
               </div>
            </div> <!-- item end -->
         </div> <!-- main-col end -->
      </div> <!-- End 結果 -->


      <!-- なりやすい体型
      ----------------------------------------------- -->
      <div id="body"><br></div>
      <div class="row education">
         <div class="three columns header-col"><h1><span>なりやすい体型</span></h1></div>
         <div class="nine columns main-col">
            <div class="row item">
               <div class="twelve columns">
                  <h3>引き締まった体型よりも、逞しい体型になりやすい遺伝的体質です。</h3>
<p>筋肉には、大きく分けると「速筋」と「遅筋」の特徴の異なる二種類があります。<br>同じトレーニングを行っても、優位に働く筋肉が異なれば効果や見た目の変化は異なります。<br>あなたは、速筋が優位に働く遺伝的体質ですので、筋肉トレーニングを行うことで、比較的簡単に筋肥大する速筋を鍛えることができます。<br>目指す体型と遺伝的体質に合わせて、適切な目標を立て、トレーニングメニューを工夫することが大切です。</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>ワンポイントアドバイス：逞しい体型</h3>
                   <h4>高めの目標を立て、十分に追い込みましょう。</h4>
<p>他のタイプの方と比較すると、比較的短期間で楽に逞しい体型になることができます。<br>逞しい体型を目指す場合は、高めに目標を立て、負荷の高いトレーニングメニューで十分に追い込みましょう。</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>ワンポイントアドバイス：引き締まった体型</h3>
                   <h4>高負荷トレーニングに注意しましょう。</h4>
<p>ボディラインの美しい引き締まった体型になるためには、筋肉トレーニングによって筋肉をつけることも必要です。<br>しかし、あなたは一般的な負荷や回数の筋肉トレーニングではムキムキとした体型になりやすいです。引き締まった体型を目指す場合は、有酸素運動を多めに行うなど筋肥大しにくいトレーニングメニューを取り入れましょう。</p>
               </div>
            </div> <!-- item end -->
         </div> <!-- main-col end -->
      </div> <!-- End なりやすい体型 -->


      <!-- 追い込みのポイント
      ----------------------------------------------- -->
      <div id="point1"><br></div>
      <div class="row education">
         <div class="three columns header-col"><h1><span>追い込みのポイント</span></h1></div>
         <div class="nine columns main-col">
            <div class="row item">
               <div class="twelve columns">
                  <h3>ダイエット・ボディメイクには、効率の良い運動の流れがあります。<br>さらに、遺伝的体質を考慮してあなたに適した方法を取り入れましょう！</h3>
<p>体重や体脂肪率を測定する方は、運動を始める前に行いましょう。<br>運動に入る前に、ストレッチを行います。筋肉がほぐれ運動中の血行が良くなり、脂肪の燃焼効率がアップします。また、怪我の予防にもなります。<br>そして、有酸素運動の前に筋肉トレーニングを行います。筋肉トレーニングによって成長ホルモンが分泌され、脂肪の代謝が高まりますので、順番を間違えないようにしましょう。<br>有酸素運動を終えた後でもしばらくは体内で脂肪が燃焼し続けますので、運動後にストレッチを入念に行うことで、脂肪の燃焼効率が更にアップします。</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>筋肉トレーニングは、「十分に追い込みましょう。」</h3>
<p>あなたは、高強度の筋肉トレーニングに強い遺伝的体質です。筋肉トレーニングを効果的に行うために、筋肉を限界まで追い込むことがおすすめです。<br>１セット中に限界まで力を使いきり、動かなくなるぐらいまで追い込むことによって超回復の効率が向上し、筋肉トレーニングの効果が上がります。<br>通常、肉体的な限界よりも精神的な限界の方が速く訪れます。「もう無理だ」と思っても、肉体的には少し余力が残っていることが多いのです。この余力を引き出して更に追い込むことを「オールアウト」と言います。十分に追い込むトレーニングがおすすめですので、筋肉トレーニングを行う時は、オールアウトさせることを意識しながら行いましょう。<br>アドバイスブックにオールアウトさせるテクニックを記載していますので、そちらも参考にしてください。</p>
               </div>
            </div> <!-- item end -->
         </div> <!-- main-col end -->
      </div> <!-- End 追い込みのポイント -->


      <!-- 逞しい体型を目指す場合
      ----------------------------------------------- -->
      <div id="point2"><br></div>
      <div class="row education">
         <div class="three columns header-col"><h1><span>逞しい体型を目指す場合</span></h1></div>
         <div class="nine columns main-col">
            <div class="row item">
               <div class="twelve columns">
                  <h3>比較的短期間で逞しい体型を手に入れることができます。</h3>
<p>速筋は、筋肉トレーニングなどで刺激を与えることにより肥大化し、大きくなります。あなたと同じ遺伝子タイプの方は、他のタイプの方と比較すると、速筋が優位に働きやすく、同じトレーニングを行った場合、速筋をうまく刺激しやすいことが分かっています。<br>筋肉トレーニングを行うことで、速筋が大きくなりやすく、見た目の変化が出やすいと言えます。<br>高い目標を立て、逞しい体型を手に入れましょう！<br>一般的に、筋肉トレーニングを行うと、約３か月程度で効果を実感される方が多いと言われていますが、あなたの場合は、もう少し短期間で効果を実感できる可能性も高いです。<br>もしも、３か月たってもほとんど見た目が変わらない、効果が感じられない場合は、正しく速筋に刺激を与えられていなかったり、負荷の強さや回数が適していなかったりと、行っているトレーニングの仕方に問題がある場合も考えられます。一度フォームなどのチェックを行い、トレーニングの仕方を確認してみることをおすすめします。トレーニングのし過ぎ（休息ができていない）、栄養が足りない、などの理由も考えられます。</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>トレーニング前の栄養補給も工夫し、効率よくトレーニングを行いましょう！</h3>
<p>筋肉トレーニングの後だけではなく、トレーニング前の栄養補給も大切です。トレーニング前に消化吸収の速い炭水化物を食べておくとトレーニング中の筋肉の分解を抑える事ができます。また、炭水化物をエネルギー源として使い、筋グリコーゲンの消費を抑えることができます。</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>高い負荷で追い込むことがおすすめな遺伝的体質です。</h3>
<p>生まれ持った遺伝子によっては追い込むトレーニングがおすすめできない場合もありますが、あなたは速筋高強度の筋肉トレーニングに強い遺伝的体質ですので、十分に追い込むことをおすすめします。<br>ムキムキとした逞しい体型を目指す場合は、できるだけ高い負荷で筋肉トレーニングを行い、しっかりと追い込みましょう。<br>一般的なトレーニング方法を参考に、更に少し高い負荷に挑戦することがおすすめです。しかし、高い負荷を扱う際にはケガやフォームの崩れに注意しましょう。</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>筋肥大させるためのトレーニングのポイント</h3>
<p>筋肥大させるには、速筋高強度最大筋力の７０％～８０％くらいの負荷（１０回程度できる重さ）でトレーニングを行うことが効果的です。<br>筋肉にかかる負荷を大きくし、セット間のインターバルを短め（１分程度）にすることで、筋損傷・筋肉内の低酸素状態・ 乳酸の蓄積をすることができるので、いろいろな観点から筋力アップに効果があります。 <br>筋肥大には、筋肉の重さは脂肪の３倍もあり、可動範囲も狭くなるなどのマイナス面もあります。</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>目的別トレーニング方法</h3>
<p><center><img class="sp" src="{% static 'images/muscle_training_table1.png' %}"><img class="pc" src="{% static 'images/muscle_training_table1_pc.png' %}"></center></p>
               </div>
            </div> <!-- item end -->
         </div> <!-- main-col end -->
      </div> <!-- End 逞しい体型を目指す場合 -->


      <!-- 引き締まった体型を目指す場合
      ----------------------------------------------- -->
      <div id="point3"><br></div>
      <div class="row education">
         <div class="three columns header-col"><h1><span>引き締まった体型を目指す場合</span></h1></div>
         <div class="nine columns main-col">
            <div class="row item">
               <div class="twelve columns">
                  <h3>高負荷の筋トレに注意！有酸素運動を十分に取り入れましょう。</h3>
<p>ボディラインの美しい引き締まった体型を目指す場合には注意が必要です。<br>引き締まった体型になるためには筋肉トレーニングを行い筋肉量を増やすことも欠かせません。しかし、あなたの場合は筋肥大しやすく、一般的な筋肉トレーニングを行うと、予想していた以上にムキムキとした腕や足になる危険性があります。高負荷の筋肉トレーニングは筋肥大しやすいので注意しましょう。しかし、ムキムキになるのが嫌だからと言って、筋肉トレーニングを全くしないことや、あまりにも低い負荷での筋肉トレーニングはおすすめしません。筋肉をしっかりとつけることで基礎代謝が高くなり、太りにくい体質になります。<br>引き締まった体型を目指す場合は、十分に刺激を与えられる程度の低負荷・高回数の筋肉トレーニングを行い、遅筋を鍛えましょう。<br>また、持久系の運動を継続して行うことで、速筋が遅筋に変わるという報告もありますので、一度ムキムキに近づいたからといってトレーニングをやめる必要はありません。<br>自分には速筋がつきやすい遺伝的体質であることを意識して、トレーニングメニューを見直しましょう。</p>
               </div>
               <div class="nine columns">
<p>トレーニングメニューに太極拳やヨガなどを取り入れ、遅筋を鍛えるようにしましょう。<br>遅筋は肥大化しませんので、ムキムキとした体型にはなりにくいです。また、硬くなった筋肉をほぐす効果もありますのでおすすめです。</p>
               </div>
               <div class="three columns">
<p><center><img class="sp" src="{% static 'images/muscle_small1.png' %}" style="width:80%;"><img class="pc" src="{% static 'images/muscle_small1.png' %}"></center></p>
               </div>
               <div class="nine columns">
<p>スイミングやジョギングなどの有酸素運動を行う事で、遅筋を鍛えることができます。<br>また、有酸素運動は脂肪の燃焼にもつながりますので、引き締まった体型を目指す場合には積極的に取り入れるようにしましょう。</p>
               </div>
               <div class="three columns">
<p><center><img class="sp" src="{% static 'images/muscle_small2.png' %}" style="width:80%;"><img class="pc" src="{% static 'images/muscle_small2.png' %}"></center></p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>筋肥大しやすいので、低い負荷でのトレーニングを中心に。</h3>
<p>あなたは、他の遺伝子タイプの方と比較すると、少ない筋肉トレーニングでも筋肥大しやすい遺伝的体質です。<br>高い負荷の筋肉トレーニングを行うと逞しい体型になりやすいので、負荷を低くしたり、有酸素運動を多めにするなどの調整を行いましょう。<br>一般的なトレーニング方法（下の表）を参考に、更に少し低い負荷で高回数のトレーニングを行うことがおすすめです。しかし、筋肉トレーニングを全くしなければ美しいボディラインを作れませんので、ムキムキとさせたくない場合も筋肉トレーニングを行うことをおすすめします。<br></p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>筋持久力・遅筋を鍛えるためのトレーニングのポイント</h3>
<p>筋持久力・遅筋を鍛えるためには、最大筋力の３０～５０％くらいの負荷（３０回以上できる重さ）で行う低負荷のトレーニングを行うことが効果的です。できなくなるまで反復するとさらに高い効果が期待できます。<br>トレーニングを続けていれば、毛細血管が広がって血液が供給されるので、筋持久力が高まります。<br>セット間の休憩時間は３０秒以内とします。</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>目的別トレーニング方法</h3>
<p><center><img class="sp" src="{% static 'images/muscle_training_table2.png' %}"><img class="pc" src="{% static 'images/muscle_training_table2_pc.png' %}"></center></p>
               </div>
            </div> <!-- item end -->
         </div> <!-- main-col end -->
      </div> <!-- End 引き締まった体型を目指す場合 -->


     <!-- スポーツ
      ----------------------------------------------- -->
      <div id="sports"><br></div>
      <div class="row education">
         <div class="three columns header-col"><h1><span>おすすめのスポーツ</span></h1></div>
         <div class="nine columns main-col">
            <div class="row item">
               <div class="twelve columns">
                  <h3>持久系のスポーツよりも、瞬発系のスポーツがおすすめです。</h3>
<p>あなたの遺伝子タイプは、瞬発系のスポーツに適していることが示唆されています。<br>多くの研究で、短距離で良い結果を残している人の多くが、あなたと同じ遺伝子タイプを持っていることが報告されています。</p>
<p><center><img class="sp" src="{% static 'images/muscle_sports_rr.png' %}"><img class="pc" src="{% static 'images/muscle_sports_rr_pc.png' %}"></center></p>
<p>※多くのスポーツは瞬発力、持久力ともに必要であり、状況によって速筋と遅筋どちらが有利かも異なります。また、生まれ持った遺伝子だけではなく、技術やトレーニングなど他の要素によっても成果は変わります。<br>ここで紹介しているスポーツは、あくまでも今回解析した遺伝子の性質、特徴と解析結果からおすすめしています。</p>
               </div>
            </div> <!-- item end -->
         </div> <!-- main-col end -->
      </div> <!-- End スポーツ -->


     <!-- コラム
      ----------------------------------------------- -->
<div id="adbook"><br></div>
<div class="row education">
   <div class="three columns header-col"><h1><span>コラム</span></h1></div>
   <div class="nine columns main-col">


<div class="row item">
  <div class="twelve columns">
    <h3>筋肉の働きと概要</h3>
    <p>
    骨格筋は体重の４０％を占める巨大な器官です。<br>
    基礎代謝のうち約４０％が骨格筋で消費されますので、筋肉量が増えると基礎代謝量が増え、太りにくい体質になります。<br>
    骨格筋が持っている最大能力のうち、実際に使われているのは４０％〜９０％で、トレーニングにより向上すると言われています。
    </p>
    </div>
  </div> <!-- item end -->

  <div class="row item">
    <div class="twelve columns">
      <h3>筋肉の種類</h3>
      <p>
      筋肉（筋繊維）には、３種類あります。<br>
瞬間的に強い力を発揮する際に使われる「速筋」と、パワーは弱いけれど持久力に優れている「遅筋」、そして「中間筋」という、速筋と遅筋の中間的な性質を持っており、鍛え方によって速筋、遅筋どちらにも変えることができる筋肉の３種類の筋繊維が一定の割合で混ざっています。<br>
トレーニングによってそれぞれの筋繊維を大きく強くすることが可能です。
      </p>
      <h4>速筋</h4>
      <p>
      速筋は、短距離種目などの爆発的に力を発揮するスポーツに重要な筋肉です。
      速筋を鍛えると筋繊維が太くなって最大筋力がアップし、断面積１c㎡当たり６～１０㎏の力を出せると言われています。無酸素的に筋肉を動かすため、疲れやすく短時間しか力を発揮できません。
      </p>
      <h4>遅筋</h4>
      <p>
      遅筋は、長距離種目などの長い時間運動をし続けるスポーツに重要な筋肉です。
      遅筋を鍛えると、筋肉中の毛細血管の数や、栄養素を運ぶ細胞内のミトコンドリアが増加し、血流量が多くなることで、酸素を多く取り込めるようになり、持久力が増します。有酸素的に筋肉を動かすため、長い時間運動を続けることができます。
      </p>
      </div>
    </div> <!-- item end -->

    <div class="row item">
      <div class="twelve columns">
        <h3>遺伝的体質と筋肉の関係</h3>
        <p>
        同じトレーニングをしても、すぐに筋肉がついてムキムキとしたからだになったり、筋肉がついたようには見えず、細く引き締まったりと人によって結果はさまざまです。<br>
その原因のひとつが生まれ持った遺伝子、ＡＣＴＮ３遺伝子のタイプです。
        </p>
        <h4>ACTN3遺伝子について</h4>
        <p>
        ＡＣＴＮ３遺伝子は、筋肉の構造に関連する遺伝子で、ＲタイプとＸタイプがあります。この遺伝子から作られるαアクチニン３というたんぱく質は、速筋繊維に存在し、筋肉が速く、強く収縮する際に安定させる役割をしています。Ｘタイプは、このＲ遺伝子が欠損しており、持久的な運動に適した身体の働きがあると考えられています。<br>
父親と母親から受け継いだ遺伝子の組み合わせにより、速筋タイプ、遅筋タイプ、両面タイプに分かれます。
        </p>
<p><center><img src="{% static 'images/adbook_tr_type1.png' %}" width="100%"></center></p>
<p><br>
一般的なトレーニングをした場合、速筋タイプの方は、速筋がつきやすく、遅筋タイプの方では、遅筋がつきやすいです。<br>
しかし、速筋タイプの方は遅筋がつかないわけではありませんし、遅筋タイプの方が速筋がつかないわけでもありません。遺伝的筋肉バランスを知った上で負荷や回数を調整することが大切です。
</p>
        </div>
      </div> <!-- item end -->

      <div class="row item">
        <div class="twelve columns">
          <h3>筋肉トレーニングの原則</h3>
          <p><br>
          トレーニングを行う際に基本となる７つの原則があります。<br>
多くの書籍などで紹介されているトレーニングの基本中の基本ですので、これらを理解し、意識しながらトレーニングを行っていくと、より短期間で、より大きな効果を得ることができます。
          </p>
          <h4>過負荷の原則（オーバーロードの原則）</h4>
          <p>
          トレーニングを行うときは、ある一定以上の負荷で運動しなければ効果があらわれないという原則です。
          いつも同じ負荷のトレーニングをしていても人間には適応能力があるため、トレーニングを続けていくうちに体が負荷に適応してしまい、効果が薄くなってしまいます。
          </p>
          <h4>漸進性の原則</h4>
          <p>
          トレーニングの質と量は、少しずつ増加させていくようにしなければならないという原則です。負荷を高くする場合、一度にあげるのではなく少しずつ負荷を高くしていくようにしましょう。
          急激に負荷をあげると、トレーニング効果を減少させるだけではなく、ケガの原因となることがあるため注意が必要です。
          </p>
          <h4>全面性の原則</h4>
          <p>
          トレーニングは筋力だけではなく、様々な能力の向上を目指しながら、バランスよく行うという原則です。
          体力と一言で言っても、筋力、持久力、瞬発力、敏捷性、平行性、柔軟性など様々な要素があります。これらの要素を偏りなく高めていくことが重要です。
          </p>
          <h4>反復性の原則</h4>
          <p>
          トレーニングは、数回で効果が得られる、という即効性の高いものではありません。
          効果は適度な間隔で繰り返し反復、継続することによって得られるもの、という原則です。少ない頻度でも長期間続けていくことが大事です。
          </p>
          <h4>個別性の原則</h4>
          <p>
          トレーニングの効果を最大限に引き出すためには、ひとりひとりに適したトレーニングプログラムやメニューを考える必要があるという原則です。
          トレーニングはしばしば集団で行われることがありますが、その中でも個人の能力や性別、体力、目的などさまざまな要素を考慮したトレーニングプログラムを取り入れることが大切です。
          </p>
          <h4>意識性の原則</h4>
          <p>
          トレーニングを行う際には、自分自身が、「なぜトレーニングをするのか」「どの筋肉を使ってトレーニングしているのか」といった目的や部位への意識を持って実施することが必要であるという原則です。<br>実際に、トレーニングを行なっている部位への意識を強く持つことで効果が高まることを多くの方が体験しています。<br>視覚的に「この筋肉」と見ながらトレーニングを行ったり、また鍛えている筋肉に触って刺激を与えた上でトレーニングを行ったりするとより効果的であると言われています。
          </p>
          <h4>特異性の原則</h4>
          <p>
          トレーニングの動作過程で行われている筋出力方法で筋肉は成長する、という原則です。短距離ランナーの選手が持久走の練習を繰り返し行っていてもその競技のパフォーマンスに結びつかないように、目的によってそのトレーニングの内容は変わります。<br>その競技の種目特異性や目的にあった、より実践に近い動作を含むトレーニングを行うことが必要です。
          </p>

          </div>
        </div> <!-- item end -->

        <div class="row item">
          <div class="twelve columns">
            <h3>筋肉を発達させるための三大要素</h3>
            <p>
            筋肉はトレーニングだけでは発達しません。<br>一生懸命トレーニングをしていても、栄養や休養が充分に足りていないために、期待以上の効果を得られないということはよくあります。
            </p>
            <h4>トレーニング</h4>
            <p>
            トレーニングを行う際にメニューや負荷の大きさ以上に大切になってくるのが、「正しいフォーム」です。
            フォームが乱れていると、狙った部位以外の筋肉も使われ負荷が分散されてしまい、効果が半減してしまいます。
            また、乱れたフォームは関節などを痛めたり、ケガにもつながりますので、初めは軽いウェイトで正しいフォームを身に付けることが非常に重要です。
            </p>
            <h4>栄養補給</h4>
            <p>
            トレーニングの成果を肉体に反映させるためには、十分な栄養補給が必要です。
            トレーニングをしても、栄養が足りなければ、筋肉の衰えにも繋がってしまいます。特に必要な栄養素が、筋肉を構成・修復するたんぱく質です。トレーニング後には傷ついた組織の補修や、使い切ったエネルギーの補給分として沢山の栄養が必要になり、体が栄養を吸収しやすくなっていますので、時間を空けずに栄養を補給しましょう。
            たんぱく質やエネルギー源として必要な糖質などを中心に、しっかり摂ることが重要です。
            </p>
            <h4>休養</h4>
            <p>
            トレーニングは毎日行うのではなく、休養期間が必要です。<br>筋肉の発達に欠かせない「超回復」はトレーニング後４８～７２時間で行われます。超回復が起こる前にトレーニングを再開すると、筋肉を破壊し続けることになり、トレーニング効果が半減しますので、トレーニング後は十分に休養をとることが大切です。<br>しかし、超回復が終わってもトレーニングを再開しなければ、筋肉が元の状態まで戻ってしまうので、トレーニングのサイクルを決めたら、継続することが重要です。
            </p>
            </div>
          </div> <!-- item end -->


          <div class="row item">
            <div class="twelve columns">
              <h3>筋肉トレーニングの注意点</h3>
              <p>
              筋肉を発達させるなら、やはりジムなどで重いウェイトを使用してトレーニングするのが効果的です。<br>しかし、ウェイトトレーニングには筋肉の発達を妨げる落とし穴もありますので、注意が必要です。
              </p>
              <h4>最大の欠点は＂筋肉が硬くなってしまう”こと</h4>
              <p><center><img src="{% static 'images/adbook_tr_1.png' %}"></center></p>
              <p>
              トレーニングは毎日行うのではなく、休養期間が必要です。<br>柔軟性がない筋肉は血流が悪く酸素をしっかりと取り込むことができず、筋肉の発達に大きな影響を及ぼしてしまいます。これによって、トレーニングの効果が半減します。筋肉が思うようについていない場合には、トレーニングのマンネリなども考えられますが、筋肉が柔軟性を失っている可能性も原因のひとつとして考えられます。
              </p>
              <h4>柔軟性を高めるエクササイズを取り入れましょう</h4>
              <p>
              柔軟性のある筋肉は酸素を取り込みやすく血流が良いので、パンプを強く引き出すことができ、筋肉が発達しやすい環境をつくることができます。<br>高い負荷を与えるウェイトトレーニングだけではなく、ストレッチなどの柔軟性を高めるエクササイズを定期的に取り入れることで、効果的に筋肉を発達させることが期待できます。
              </p>
              </div>
            </div> <!-- item end -->

            <div class="row item">
              <div class="twelve columns">
                <h3>オールアウトのテクニック</h3>
                <p>
                筋肉トレーニングを行い、特に筋肥大をさせるためには、筋肉を限界まで追い込むことが大切です。筋肉を限界まで追い込むことによって超回復の効率が向上し、逞しい体型に近づくことができます。しかし、肉体的な筋肉の限界よりも、精神的な限界が先にきてしまい、筋肉を限界近くまで追い込むことが困難です。
                その結果、「もう限界だ」と思っていても、筋肉にはまだ余力が残っていることがあります。この余力を引き出して限界まで追い込むオールアウトのテクニックを紹介します。
                </p>
                <h4>フォーストレップス法</h4>
                <p>
                まずは自力で限界まで反復を繰り返し、限界にきた時にパートナーの方に補助を加えてもらい、さらに数回反復させるという方法です。
　　　　　　　　限界を超えた状態で筋線維を酷使する事ことができます。しかし、フォーストレップス法をあまり多用してしまうと、オーバートレーニングになってしまい逆効果になることもありますので注意しましょう。
                </p>
                <h4>ドロップセット法</h4>
                <p>
                自力で限界まで反復を繰り返し、限界に達した時点でウエイトを軽くします。軽くする事によって、更に数回繰り返すことが出来ます。
                これを数回繰り返す方法です。インターバルなしで限界まで反復させると効果的です。ウエイトを減らす重量としては２０％～３０％が目安となります。
                短時間でオールアウトさせるために効果的なテクニックのひとつですが、ある程度トレーニング経験のある中・上級者です。
                </p>
                <h4>コンパウンドセット法</h4>
                <p>
                同じ部位（１つの筋肉）に対して、効果のある２種類のトレーニングメニューをインターバルを挟まずに行い、これを１セットとする方法です。
                強度の強いトレーニング法なのでフォームなどに注意が必要ですが、短時間で効率よく鍛えることができます。
  　　　　　　　負荷や回数は通常よりも低めに設定すると良いでしょう。
                </p>
                </div>
              </div> <!-- item end -->

              <div class="row item">
                <div class="twelve columns">
                  <h3>トレーニング効果を高めるサプリメント</h3>
                  <p>
                  トレーニングの効果を高め、効率よく筋肉を発達させるために、サプリメントの活用もおすすめです。プロテインの摂取は基本ですが、プロテイン以外にもトレーニング効果を高める栄養素があります。
                  </p>
                  <h4>グルタミン</h4>
                  <p>
                  グルタミンは、筋肉内に豊富に存在するアミノ酸の一つであり、筋肉におけるアミノ酸組成の３０～５０％以上がグルタミンです。グルタミンには体の免疫力を向上させる作用がありますので、筋肉の発達をサポートしてくれます。そして一番の特徴が、筋肉のたんぱく合成に関わっており、激しい運動後の筋肉の破壊を防ぐ効果や筋肉の分解を抑制する効果を持っていることです。
                  グルタミンは、筋肉の発達を妨げる筋肉の分解を抑える最も効果的な栄養素のひとつです。トレーニング後と就寝前にプロテインと一緒に摂取しておきたい栄養素です。
                  </p>
                  <h4>ＢＣＡＡ</h4>
                  <p>
                  ＢＣＡＡ（分岐鎖アミノ酸）は人間の体内では合成されない必須アミノ酸であるバリン、ロイシン、イソロイシンの３つのアミノ酸から構成されている必須アミノ酸で、筋肉のエネルギー源となる唯一の必須アミノ酸です。筋肉内の必須アミノ酸の３０～４０％がＢＣＡＡで構成されています。ＢＣＡＡのサプリメントは、筋肉の成長促進、パフォーマンスの向上効果などに役立つサプリメントとして有名です。トレーニング前やトレーニング中に摂取することで、乳酸の発生を抑え、疲労が溜まりにくくなりますので、パフォーマンスを維持することができトレーニング効果を高めることも期待できます。
                  </p>
                  <h4>クレアチン</h4>
                  <p>
                クレアチンを摂取することで、筋肉のクレアチリン酸（一時的な高強度トレーニングのエネルギー源）レベルを高めることができ、一時的に強い力を発揮することができます。
                その結果、今までよりも重いウェイトを使用したトレーニングが可能になります。より強い刺激を筋肉に与えたい場合などに摂取しておきたい栄養素です。
                  </p>
                  </div>
                </div> <!-- item end -->

                <div class="row item">
                  <div class="twelve columns">
                    <h3>逞しい体を手に入れる近道①</h3>
                    <p>
                    筋骨隆々、ムキムキとした逞しいからだを目指すためには、遅筋よりも速筋を鍛え、筋肥大させることが大切です。
                    </p>
                    <h3>筋肥大のプロセス</h3>
                    <p>
                    速筋を鍛え、筋肥大させるには、筋肉に大きな負荷をかける、筋繊維を損傷させる、筋肉を低酸素状態にする、 乳酸を溜めるなどいくつかあり、トレーニング法によってそのプロセスが異なります。
                    </p>
                    <h4>筋肉に大きな負荷をかける</h4>
                    <p>
                    筋肉に大きな負荷がかかると、この負荷に耐えるため、筋繊維に筋肥大を促す信号が送られると言われています。
                    </p>
                    <h4>筋繊維を損傷させる</h4>
                    <p>
                    筋繊維の損傷は、ダンベルやバーベルを下ろす、懸垂で身体を下ろす、階段を下りるなどの動作で起こります。 この損傷した部分が修復されると前より強くなり、筋肥大します。
                    </p>
                    <h4>筋肉を低酸素状態にする</h4>
                    <p>
                  低負荷のトレーニングでは遅筋が使われます。しかし加圧トレーニングなど血流を制限した低酸素状態では、酸素を必要とする遅筋が使えないため、 低負荷のトレーニングでも速筋が使われることになり、筋肥大します。 
                    </p>
                    <h4>乳酸を溜める</h4>
                    <p>
                  乳酸が溜まってくるとトレーニングがだんだんとできなくなり、限界になります。乳酸は蓄積量に応じて成長ホルモンを分泌させ、この成長ホルモンが筋肥大に効果があると言われています。 
                    </p>
                    </div>
                  </div> <!-- item end -->

                  <div class="row item">
                    <div class="twelve columns">
                      <h3>逞しい体を手に入れる近道②</h3>
                      <p>
                      筋肥大させるには、最大筋力の７０％～８０％くらいの負荷（１０回程度できる重さ）でトレーニングを行うことが効果的です。<br>
筋肉にかかる負荷を大きくし、セット間のインターバルを短め（１分程度）にすることで、筋損傷・筋肉内の低酸素状態・ 乳酸の蓄積をすることができるので、いろいろな観点から筋力アップに効果があります。 <br>
筋肥大には、筋肉の重さは脂肪の３倍もあり、可動範囲も狭くなるなどのマイナス面もあります。
                      </p>
                      <h4>ポイント①</h4>
                      <p>
                      加速や反動をつけずに動作を行う（スローリフティング）ようにします。 
                      </p>
                      <h4>ポイント②</h4>
                      <p>
                      セット間の休憩時間も重要です。筋力が回復するまで休んでしまうと効果は小さくなってしまいます。<br>
  １分程度を目安にすると、成長ホルモンの分泌もよくなり、トレーニング効果が上がります。
                      </p>
                      <h4>ポイント③</h4>
                      <p>
                    いきなり大きい負荷で行わず、５０％くらいの軽い負荷でウォーミングアップしてからトレーニングを行うようにします。 
                      </p>
                      </div>
                    </div> <!-- item end -->

                    <div class="row item">
                      <div class="twelve columns">
                        <h3>筋肉トレーニングによってどう変わっていくのか</h3>
                        <p>
                        筋肉トレーニングをすると、カラダがどう変わり、どんないいことがあるのでしょうか。
                        </p>
                        <h4>眠っていた筋肉を目覚めさせる</h4>
                        <p>
                        筋肉は運動神経からの指令で力を出しますが、たとえ本人が最大筋力を発揮させようと思っても、１００％の力を出すことはできません。全力を発揮しようと思っても、実は６０〜７０％程度しか使えていないケースが多いのです。<br>
トレーニングをするとからだに負荷がかかるので、今まで眠っていた筋肉も動員させることになります。また、普段あまり運動していない人ほど、眠っている筋肉は多いので、少し鍛えれば力は強くなるとも言えます。
                        </p>
                        <h4>速筋をつけると、エネルギーがどんどん消費される</h4>
                        <p>
                        重めの負荷で速筋を鍛えることによって、血液循環が良好になり、血管を発達させる効果もあるので、基礎代謝が上がり体調も良くなります。<br>
これにより、日常生活での活動量にも変化が現れます。例えば、歩くのが無意識のうちに速くなったり、階段も駆け上がれるようになってきます。<br>
振る舞いがキビキビすることで、エネルギーの消費量がさらに増える好循環が生まれるのです。
                        </p>
                        </div>
                      </div> <!-- item end -->

                      <div class="row item">
                        <div class="twelve columns">
                          <h3>筋肉の疲れの正体とは？</h3>
                          <p>
                          筋肉トレーニングをしていると、使っている筋肉が疲れてきて、だんだんと動かなくなってきます。しかし、これは若返りの源だった？！筋肉を疲れさせる  “あの物質”について説明いたします。
                          </p>
                          <h4>疲れの正体は「乳酸」という物質</h4>
                          <p>
                          筋肉を動かすことで生じ、疲労を感じさせ物質とされるのが「乳酸」というものです。この乳酸は、血中の濃度が上がってくると運動を継続できなくなります。トレーニングをしていると、だんだんと重りが持ち上がらなくなってくるのは、この乳酸のせいなのです。
                          </p>
                          <h4>乳酸のおかげで若返りの効果が！？</h4>
                          <p>
                          発生した乳酸は、「成長ホルモン」の分泌を促す作用があります。この「成長ホルモン」とは、その名の通り筋肉を大きく成長させるだけではなく、体脂肪を分解して脂肪減少を促進してくれるというありがたい効果もあるのです。さらに新陳代謝を活発にする作用もあり、若返りの効果まであります。<br>
アンチエイジングに高いお金を払わなくても、トレーニングによって若返るホルモンを自分のカラダが出してくれるのだから、筋肉トレーニングをやらない手はありませんね。
                          </p>
                          <h4>肩こりの原因も乳酸にあり</h4>
                          <p>
                        肩こりなどの場合は、長時間の肩の筋肉の緊張で血液循環が慢性的に悪化し、発生した乳酸の代謝の不良で生じたものです。ただ、乳酸は心臓やチキンのエネルギー源として使われるので、筋肉トレーニングの場合はその２０〜３０分後にはエネルギー源として使われてなくなります。ですので、トレーニングで乳酸がたっぷり出ても、体調を崩すことはないのです。
                          </p>
                          </div>
                        </div> <!-- item end -->

                        <div class="row item">
                          <div class="twelve columns">
                            <h3>トレーニングのペースは、どれくらいがいいのだろうか</h3>
                            <p>
                            やる気がある人なら、毎日でもやりたいトレーニング。しかし、毎日やってしまうと逆に筋肉が衰えたり、怪我の原因となることもあるんです。<br>
効果的なトレーニングのペースはいったいどれくらいのなのか。実は最も効果的なペースがあったんです。
                            </p>
                            <h4>超回復のサイクルを知って理想のカラダをつくろう</h4>
                            <p>
                            トレーニングは一般に、「超回復」を利用すると効果的といわれています。筋肉の発達には休養が必要であり、疲労したからだが運動前以上に回復し強くなった（超回復した）タイミングで再びトレーニングすれば、右肩上がりの成長が可能となるのです。その一つのタイミングとしては、筋肉痛がなくなったタイミングで再びトレーニングを行う、というのが効果的です。
                            </p>
                            <h4>頻度は中２日、週に２〜３回程度が理想的です</h4>
                            <p>
                            毎日楽にできてしまうようなトレーニングでは、超回復を生むのには強度が不足していると言えます。正しい強度なら、毎日行うと日に日に回数や重量が落ちていくもの。適切な負荷でトレーニングし、そこから上手に超回復するには、頻度は中２日くらいあけるのが目安で、週に２〜３回程度のペースになるのです。
                            </p>
                            <h4>使う部位を分けるなら毎日行ってもOKです</h4>
                            <p>
                          脚のトレーニングの翌日に腕のトレーニングをする、といった具合に部位を替えるなら、頻度を高めても問題ありません。大切なことは、同じ部位をトレーニングする場合、その間隔は2日前後開けるのが望ましいということです。
                            </p>
                            </div>
                          </div> <!-- item end -->

                          <div class="row item">
                            <div class="twelve columns">
                              <h3>トレーニングがうまくいかない原因</h3>
                              <p>
                              「こんなに頑張っているのに、筋肉がつかない、痩せられない」という人がいるかもしれませんが、それには必ず理由があります。下の項目をチェックして、思い当たる項目をなくしていきましょう。
                              </p>
                              <h4>実はやり方が間違っている</h4>
                              <p>
                              トレーニングのフォームややり方を、もう一度確認してみましょう。形だけ再現しても、じつはやり方が全く違うことはよくあります。<br>
やり方が正しければ、トレーニング中は筋肉が張っている感じがあり、その翌日には筋肉痛を必ず感じられるはず。これらが感じられない人は、トレーニングが正確にできていないということなのです。
                              </p>
                              <h4>食事は正しく摂れているか</h4>
                              <p>
                              食事が大切なのはいうまでもありません。必要な栄養素をしっかり摂らないと筋肉を大きくできないし、必要以上に摂ってしまうと脂肪が増えてしまいます。<br>
その日食べたものを書き出すだけでも、改善のポイントが分かることがあるので、試してみましょう。
                              </p>
                              <h4>急激な効果を期待しすぎている</h4>
                              <p>
                              トレーニングの成果で筋肉がついて脂肪が落ち、見た目の体型が変わるにはある程度の時間が必要です。体型の変化が２週間で見られなくても、それが失敗かどうかはまだ分かりません。<br>
  トレーニングによって体型が明らかに変わるには、一般的に２〜３ヶ月程度期間が必要とされますので、長期的に見ていくことが重要になってきます。
                              </p>
                              </div>
                            </div> <!-- item end -->

                            <div class="row item">
                              <div class="twelve columns">
                                <h3>筋肉をつけることで若返っていくからだ</h3>
                                <p>
                                筋肉がついていくことで、新陳代謝が活性化し、各種栄養素の供給や、全身の老廃物の除去がスムーズになるなど、老けにくい体づくりを後押しすることができます。
                                </p>
                                <h4>成長ホルモンが持つ驚異のパワー</h4>
                                <p>
                                トレーニングをすることで、成長ホルモンの分泌が活発になります。それによって、新陳代謝が活性化し、なかなか老けにくいからだになれるというわけなんです。<br>
成長ホルモンの分泌量は、１６歳ごろがピークといわれ、それ以降は減っていくのが現実です。しかし、高齢者でも適度な運動刺激を与えれば分泌量は確実に増えるので、”若返り”を目指すには筋肉トレーニングが必須とも言えるでしょう。
                                </p>
                                <h4>トレーニングにより増えるテストステロン</h4>
                                <p>
                                トレーニングをすることで、テストステロンと呼ばれる男性ホルモンの分泌量が増えて、活力や精力も高まってきます。活動的になれることで、ストレスもたまりにくくなり、若々しくイキイキとしていられるのです。<br>
企業経営者や政治家、アスリートなど、分野を問わず業績の良い人ほど実年齢よりも若々しく覇気があるものですが、彼らのテストステロンを測定すると、通常よりも高いことが確認されています。
                                </p>
                                <h4>成長ホルモンは免疫力も成長させる</h4>
                                <p>
                                トレーニングによって多量に分泌する成長ホルモンには、免疫力を高める効果もあります。成長ホルモンによって新陳代謝が高まれば、全身の細胞がどんどん活性化されていくので、免疫力が上がるのです。<br>
トレーニングをすることで、前向きで心身ともに健康的な強いからだを手にいれることができるのです。
                                </p>
                                </div>
                              </div> <!-- item end -->


</div></div> <!-- End Education -->
<!--アドバイスブックここまで-->

　 </section> <!-- Resume Section End-->

{% endblock %}
